.secaoContato {
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
  background-color: #05031b;
}

.secaoContato h3 {
  margin-bottom: 20px;
  font-size: 35px;
}

.contatoContainer {
  margin-top: 40px ;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.contatoConteudo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  max-width: 350px;
}

.contatoConteudo h4{
  margin-bottom: 20px;
  font-size: 25px;
}

.contatoConteudo div {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.contatoConteudo img {
  width: 18px;
}

.contatoConteudo span {
  font-size: 14px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .secaoContato {
    padding: 60px 20px;
  }
}

@media (max-width: 550px) {
  .secaoContato {
    padding: 60px 10px;
  }

  .contatoContainer {
    flex-direction: column;
  }

  .contatoConteudo {
    align-items: center;
  }

  .contatoConteudo div {
    width: 150px;
  }
}
