
.header {
  padding: 10px 15px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.headerContainer {
  max-width: 1024px;
  display: flex;;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; 
}

.logo {
  height: 50px;
  width: auto;
}

.navLink {
  font-size: 18px;
  margin: 0 5px;
  text-decoration: none;
  color: #000;
  padding: 5px;
}

@media (max-width: 550px) {
  .headerContainer {
    flex-direction: column;
  }

  .nav {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #aaadaf;
  }
}
